* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif !important;
}

footer>div {
  flex-direction: column;
}

footer p {
  font-size: 10px;
  padding: 10px 0 0 0;
}

footer a {
  font-size: 10px;
  padding: 20px 0 0 0;
}

footer img {
  width: 5%;
}

footer hr {
  background-color: #666362;
  color: #666362;
  padding: 1px;
}

footer a:hover {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}

.navbar-subheading {
  font-size: 0.5rem;
}

.deep-blue-color {
  color: #05014a !important;
}

.deep-blue-background-color {
  background-color: #05014a !important;
}

.grey-color {
  color: #c0bdbc;
}

.nav-item a {
  font-size: 0.7rem;
}

.nav-link:hover {
  border-bottom: 1px solid #666362;
}

.page-banner-form {
  background-color: white;
  width: 90%;
  height: fit-content;
}

.page-banner-form>div {
  flex-direction: column;
}

.page-banner-form-buttom {
  background-color: #05014a;
  color: #ffffff;
}

.page-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  flex-direction: column;
  padding: 3rem 0;
}

.page-banner-heading {
  width: 90%;
}

.page-banner-heading-button {
  width: 50%;
  padding: 1rem;
  border: none;
  transition: all .2s ease-in-out;
}

.page-banner-heading-button:hover {
  scale: 1.1;
}

.page-banner-right-arrow {
  width: 10%;
}

.page-banner-form img {
  width: 15%;
}

.form-date-inputs {
  width: 100%;
}

.form-date-inputs img {
  width: 10%;
}

.homestay1,
.homestay2,
.homestay3 {
  padding: .5rem 1rem;
  top: 5rem;
  width: 80%;
  position: relative;
}

.show-rooms {
  flex-direction: column;
}

.show-room-details {
  background-color: #05014a;
  position: relative;
  color: #ffffff;
  overflow-x: hidden;
  padding: 0% 50% 160%;
  width: 50vw;
}

.show-room-details>div {
  position: absolute;
}

.show-room-details button {
  border: 1px solid white;
}

.show-room-pictures {
  width: 100%;
  overflow: hidden;
  height: 70vh;
}

.show-room-pictures img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.show-room-pictures-previous-button,
.show-room-pictures-next-button {
  font-size: 3rem;
  z-index: 1000;
  background: transparent;
  color: #ffffff;
  border: none;
  position: absolute;
  transition: all 0.2s ease-in-out;
  top: 40%;
}

.show-room-pictures-previous-button:hover,
.show-room-pictures-next-button:hover {
  scale: 1.5;
}

.show-room-pictures-previous-button {
  left: 2rem;
}

.show-room-pictures-next-button {
  right: 2rem;
}

.carouselSlide {
  transition: 0.5s all ease-in-out;
}

.section-why-choose-our-hostel {
  flex-direction: column;
}

.activity {
  flex-direction: column;
}

.activity img {
  height: 100%;
}

.activity-details {
  background-color: #05014a;
  padding: 1rem;
  color: #ffffff;
}

.activity-details button {
  border: 1px solid white;
}

.services-section button {
  border: 1px solid #05014a;
  width: 10rem;
}

.services-banner {
  background-image: url("https://i.ibb.co/dBKh7XR/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  margin-top: 2rem;
}

.services-banner>div {
  background-color: #ffffff;
  width: 70%;
  height: fit-content;
  position: relative;
  top: 2rem;
}

.reviews {
  background-color: #fffaf6;
}

.reviews img {
  width: 20%;
}

.card {
  border: none !important;
  background-color: #fffaf6 !important;
}

.location-section {
  flex-direction: column;
}

.location-section img {
  width: 10%;
}

.location-travel-options {
  padding: 1rem;
}

.location-travel-option img {
  width: 20%;
  padding: 5rem 0;
}

.location-map>p>iframe {
  width: 100%;
  height: 40vh;
}

.travel-section {
  flex-direction: column;
  background-color: #fffaf6;
  padding: 1rem;
}

.travel-section-images img {
  width: 80%;
}

.travel-section-details {
  justify-content: center;
  align-items: center;
}

.travel-section-details button {
  background-color: #05014a;
}

.update-section>div {
  border: 0.5px solid #666362;
  padding: 0.7rem;
  width: 95%;
}

.update-section>div>input {
  border: none;
  width: 80%;
}

.update-section>div>button {
  background-color: #05014a;
}

.select-language-footer {
  display: flex;
}

.select-language-footer>div {
  display: none !important;
}

.rating-symbol i {
  color: #6dbc57;
}

@media screen and (min-width: 475px) {
  .show-room-details {
    padding: 0% 50% 120%;
  }

  .location-travel-option img {
    width: 20%;
    padding: 1rem 0;
  }
}

@media screen and (min-width: 600px) {
  .show-room-details {
    padding: 0% 50% 60%;
  }

  .homestay1,
  .homestay2,
  .homestay3 {
    top: 0rem;
  }
}

@media screen and (min-width: 960px) {
  footer {
    padding: 0 10rem;
  }

  footer>div {
    flex-direction: row;
  }

  footer img {
    width: 50%;
  }

  footer>div>div {
    width: 15%;
  }

  .navbar-icons img {
    width: 30%;
  }

  .page-banner {
    flex-direction: row;
  }

  .page-banner-heading {
    width: 50%;
  }

  .page-banner-heading h4 {
    width: 60%;
  }

  .page-banner-form {
    width: 30%;
    height: fit-content;
    left: -8%;
  }

  .page-banner-form>div {
    flex-direction: row;
  }

  .form-date-inputs {
    width: 48%;
  }

  .page-banner-right-arrow {
    width: 5%;
  }

  .homestay-adds-details {
    padding: 10%;
  }

  .homestay1 {
    top: 2rem;
    left: 2rem;
    width: 60%;
  }

  .homestay2 {
    width: 70%;
    top: -5rem;
    left: 8rem;
  }

  .homestay3 {
    width: 65%;
    top: -7rem;
    left: 0rem;
  }

  .show-room-details {
    padding: 0% 15% 30%;
  }

  .show-rooms {
    flex-direction: row;
  }

  .section-why-choose-our-hostel {
    flex-direction: row;
  }

  .activity {
    flex-direction: row;
  }

  .activity-details {
    width: 50%;
    padding: 5%;
  }

  .activity-image {
    width: 50%;
  }

  .services {
    width: 22%;
  }

  .services-banner>div {
    width: 40%;
    height: fit-content;
    position: relative;
    padding: 2rem !important;
    top: 10rem;
    left: 20%;
  }

  .location-section {
    flex-direction: row;
  }

  .location-map {
    width: 50%;
  }

  .location-map>p>iframe {
    padding: 10% 10% 10% 0;
    width: 100%;
    height: 90vh;
  }

  .location-travel-options {
    width: 50%;
    padding: 5rem 0 5rem 5rem !important;
  }

  .travel-section {
    flex-direction: row;
  }

  .travel-section-images {
    top: -5rem;
  }

  .travel-picture-small {
    width: 100vw;
  }

  .small-travel-picture {
    width: 220% !important;
  }

  .update-section>div {
    width: 45%;
  }

  .select-language-footer {
    display: flex;
  }

  .select-language-footer>div {
    display: flex !important;
    right: 0;
  }

  .select-language-footer>div>a {
    width: 30%;
  }

}

@media screen and (min-width: 1024px) {

  .services-banner>div {
    top: 7rem;
  }

  .homestay1 {
    top: 10rem;
    left: 0rem;
    width: 50%;
  }

  .homestay2 {
    width: 60%;
    top: -1rem;
    left: 10rem;
  }

  .homestay3 {
    width: 50%;
    top: -8rem;
    left: 3rem;
  }

  .select-language-footer>div>a {
    width: 20%;
  }
}